{{!-- {{log model}} --}}

<section class="weather-info-container">
  <section class="weather-main">
    <div class="weather-main-info">
      <h1 class="temperature">80 degrees</h1>
      <h3 class="location">Greenville, SC</h3>
    </div>
  </section>

  <section class="weather-forecast">
    <ul class="weather-forecast-daily">
      <li class="daily-forecast">
        <i></i>
        <p class="high-temp">92</p>
        <p class="low-temp">73</p>
      </li>
      <li class="daily-forecast"></li>
      <li class="daily-forecast"></li>
      <li class="daily-forecast"></li>
      <li class="daily-forecast"></li>
      <li class="daily-forecast"></li>
      <li class="daily-forecast"></li>
    </ul>
  </section>
</section>
