$box-sizing: true;
$gutter: 0em;

@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

//FONTS
$primary-font: 'Lato', sans-serif;

body {
  font-family: $primary-font;
  font-weight: 300;
}


.weather-info-container {
  @include outer-container(1080px);
  height: auto;
  margin-top: 10em;
  /* background-color: #fff; */
  /* border: 1px solid grey; */
}

  .weather-main,
  .weather-forecast,
  .weather-hourly {
    width: 90%;
    margin: 2em auto;
    background-color: #fff;
  }

  .weather-main {
    height: auto;
  }

    .weather-right-now {
      width: 100%;
      text-align: center;
    }

      .current-temperature {
        font-size: 6em;
        margin: 0;
      }

      .summary {
        font-size: 3em;
        font-weight: 300;
        margin-top: 0.5em;
      }




  .weather-forecast {
    height: auto;
  }

  .daily-forecast-heading-wrapper,
  .hourly-forecast-heading-wrapper {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }

    .daily-forecast-heading,
    .hourly-forecast-heading {
      height: 30px;
      display: inline-block;
    }

    .fa-plus {
      display: inline-block;
      margin-left: 2em;
    }


    .weather-forecast-daily,
    .weather-forecast-hourly {
      display: none;
    }

    .weather-forecast-daily,
    .weather-forecast-hourly, {
      list-style: none;
      padding-left: 0;
      /* border: 1px solid grey; */

    }

    .daily-forecast,
    .hourly-forecast {
      height: 100px;
      margin: 1em auto;
      background-color: #fff;
      /* border: 1px solid grey; */
    }

      .high-temp,
      .low-temp,
      .daily-summary,
      .daily-icon,
      .hourly-time,
      .hourly-temp,
      .hourly-precip-prob
       {
        @include span-columns(3 of 12);
        @include omega;
        display: inline-block;
        text-align: center;
        padding-top: 0.5em;
      }

      .daily-icon{
        font-size: 3em;
      }
