$box-sizing: true;
$gutter: 0em;

@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

//FONTS
$primary-font: 'Lato', sans-serif;

body {
  font-family: $primary-font;
}


.weather-info-container {
  @include outer-container(1080px);
  height: 1500px;
  /* background-color: #fff; */
  /* border: 1px solid grey; */
}

  .weather-main,
  .weather-forecast {
    width: 90%;
    margin: 2em auto;
    background-color: #fff;
  }

  .weather-main {
    @include span-columns(12);
    height: auto;
    border: 1px solid grey;
  }

    .weather-right-now {
      @include span-columns(6 of 12);
      width: 100%;
      text-align: center;
    }

  .weather-forecast {
    height: 1000px;
  }

    .weather-forecast-hourly,
    .weather-forecast-daily {
      list-style: none;
      padding-left: 0;
    }

    .daily-forecast,
    .hourly-forecast {
      height: 100px;
      width: 90%;
      margin: 2em auto;
      background-color: #fff;
      border: 1px solid grey;
    }

      .high-temp,
      .low-temp,
      .daily-summary,
      .daily-icon {
        @include span-columns(3);
        @include omega;
        display: inline-block;
        text-align: center;
        padding-top: 0.5em;
      }

      .daily-icon{
        font-size: 3em;
      }
